
body {
  background-color: rgb(17, 189, 146);
}

h1 {
    
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  }


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.form{
    background-color: rgba(91, 97, 94, 0.747);
    padding: 20px;
    text-align: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border: 5px rgba(73, 72, 72, 0.932) solid ;
    border-radius: 5px;
} 
.form .name ,.code,.end,.year{
    color: rgb(40, 155, 126);
    font-size: 25px;
    text-transform: uppercase;
}
.end{
    font-size: 25px;

}




.nav-tag .link{
    padding: 10px;
    text-decoration: none;
    border: 3px rgb(75, 53, 53) solid;
    border-radius: 5px;
    background-color: rgba(25, 165, 72, 0.396);
    color: rgb(225, 225, 225);
    font-size: 25px;
}